.header-dir
  .container
    a(ui-sref='dashboard')
      h1 <%= settings.appName %><% if(settings.Menu) { %>
    menu.main-menu
    button.lines-btn(ng-click='toggleMobileMenu($event)')
      span.lines<% } %>